<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<style>hr { display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;}</style>
    <head>
        <title>Prieks studentiem</title>
        <meta charset="UTF-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Studenta majas lappa</h1>
        <br>
        
        
        <p><font size=+2>Lejupieladiet failu</font></p>
        <div th:if="${isActive} == null">
        	<form action="/student/excelFile" method="post">
        	<input type=text name=testName>
        	<button type=submit formtarget='_self'>Lejupieladet</button>
        	</form>
        </div>
        <div th:unless="${isActive} == null">
        	<form action="/student/excelFile" method="post">
        	<a href='/student/excelFile' target='_self'>  Excel File</a>
        	</form>
        </div>
        <hr>
        <div>
        	<form action='/student/buttonSubmit' method="post">Jusu vards<br><input type=text name=vards placeholder= "Vards.Uzvards"><br>
        	Ievadiet, ludzu, atbildi uz pirmo jautajumu:<br><input type=text name=answer1 placeholder= "Pirma atbilde"><br>
        	Ievadiet, ludzu, atbildi uz otro jautajumu:<br><input type=text name=answer2 placeholder= "Otra atbilde"><br>
        	<br>
        	<button type=submit formtarget='_self'>Apstiprinat</button></form><br/>
        </div>
        
    </body>
</html>