<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Teacher homepage</title>
</head>
<body>
	<p>
		<a href='/NewTest'>New Test upload</a>
	</p>
	
	<div>
		<form th:action="@{/sendTest}" th:object="${Test}"  method="post">
		<label for="name" id="name" >Name</label>
		<input type="text" id="name" name="name"/>
		
		<input type="submit" name="action" value="Send"/>
		<input type="submit" name="action" value="Clear"/>
		<input type="submit" name="action" value="Results"/></form>
		<br>
	</div>
	
	
	
	<a> Current test for students: </a>
	<p th:text="${currentTest}" ></p>
	<div>
	<a>Available tests for students:</a>
	<th:block th:each="test : ${tests}">
		<tr>
			<td th:text="${test.getName()}">...</td>
			<td th:text="${test.getFile().getName()}">...</td>
		</tr>
	</div>
</body>
</html>